.signup-form {
  padding: 5% 10%;
}

.name-inputs {
  display: flex;
  gap: 15px;
}

.input {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

#submit {
  font-size: 1.125rem;
  padding: 0.5% 1.25%;
}
