<div class="container row about">
  <div class="col">
    <h1 class="accent-gradient-text logo">Do It</h1>
    <p>Work together to accomplish goals</p>
    <a
      [routerLink]="['/signup']"
      routerLinkActive="router-link-active"
      class="btn btn-outline-light"
      >Sign Up</a
    >
  </div>

  <div class="col mock-list">
    <div class="mock-list-top">
      <h1 class="mock-title">V1 Release 🎯</h1>
      <p>
        <span class="todo"
          >{{ incompleteCount }}
          {{ incompleteCount == 1 ? "item" : "items" }} todo</span
        >,
        <span class="done"
          >{{ completedCount }}
          {{ completedCount == 1 ? "item" : "items" }} done</span
        >
      </p>
    </div>
    <div class="todos">
      <mat-checkbox
        *ngFor="let item of mockTodoItems"
        class="mock-todo"
        [checked]="item.done"
        (change)="onCheckBoxClick(item.id)"
        >{{ item.title }}</mat-checkbox
      >
    </div>
  </div>
</div>
