<div
  class="list"
  [ngStyle]="{
    'background-color': list?.color,
    color: color.getTextColor(list?.color!)
  }"
>
  <h2>{{ list?.title }}</h2>
  <p>
    <span class="todo"
      >{{ notDoneCount }} {{ notDoneCount == 1 ? "item" : "items" }} todo</span
    >,
    <span class="done"
      >{{ doneCount }} {{ doneCount == 1 ? "item" : "items" }} done</span
    >
  </p>
  <a
    class="btn btn-outline-{{ isInLightMode ? 'dark' : 'light' }}"
    [routerLink]="['/list/' + id]"
    routerLinkActive="router-link-active"
  >
    View List
  </a>
</div>
