.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10%;
}

.primer {
  flex: 1;
  padding: 5%;
  // background-color: green;
}

.mock-list {
  margin: 10%;
  flex: 1;
  // background-color: blue;
  background-color: var(--accent);
  border-radius: 15px;
  transform: rotate(-20deg);
}

.mock-list-top {
  padding: 3%;
}

.todos {
  border-radius: 0 0 15px 15px;
  padding: 3%;
  background-color: #313131;
}

.mock-todo {
  display: block;
  margin: 20px 0;
}

@media only screen and (max-width: 1240px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    text-align: center !important;
  }

  .logo {
    margin: auto;
  }

  .mock-list {
    width: 50%;
    margin: 0;
    transform: none;
  }

  .todos {
  }
}
