.about {
  height: 80vh;
  padding: 20% 8%;
}

.done {
  color: #ddd;
}

.mock-title {
  font-weight: 600;
}

.mock-list {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 20%;
  top: 15%;
  background-color: #313131;
  border-radius: 30px;
  padding: 0;
  transform: rotate(-15deg);
  margin: 0 auto;
}

.mock-list-top {
  margin: 0;
  padding: 40px 20px 0;
  border-radius: 30px 30px 0px 0;
  background-color: var(--accent);
}

.mock-todo {
  padding: 20px 20px;
  margin-right: 100px;
  display: block;
}

.todos {
  display: inline-block;
}
