@use "@material/theme" with (
  $primary: #db504a,
  $secondary: #ffb259,
  $on-primary: #442b2d,
  $on-secondary: #442b2d,
);
@use "/node_modules/@material/checkbox";

@include checkbox.core-styles;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
$default-font: "Work Sans", sans-serif;
$default-font-size: 1.25rem;

// Application colors
$bg-color: #1e1e1e;
$text-color: rgb(251, 252, 255);
$accent-color: #db504a;
$secondary-color: #ffb259;
$accent-gradient: linear-gradient(
  90deg,
  $accent-color 0%,
  $secondary-color 100%
);

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $default-font;
  font-size: $default-font-size;
}

.accent-gradient-text {
  background: $accent-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
}

.logo {
  font-size: 4rem;
}
