@use '~@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$doit-primary: mat.define-palette(mat.$amber-palette);
$doit-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$doit-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$doit-theme: mat.define-dark-theme(
  (
    color: (
      primary: $doit-primary,
      accent: $doit-accent,
      warn: $doit-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($doit-theme);
@import "/src/theme.scss";
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
$default-font: "Work Sans", sans-serif;
$default-font-size: 1.25rem;

// Application colors
$bg-color: #1e1e1e;
$text-color: rgb(251, 252, 255);
$accent-color: #db504a;
$secondary-color: #ffb259;
$accent-gradient: linear-gradient(
  90deg,
  $accent-color 0%,
  $secondary-color 100%
);

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $default-font;
  font-size: $default-font-size;
}

.accent-gradient-text {
  background: $accent-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
}

.logo {
  font-size: 4rem;
}

// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }
